{

  "env": {
    "test": {
      "plugins": [],
      "presets": ["es2015", "stage-0", "react"],
    },
    "development": {
      "plugins": [],
      "presets": ["es2015", "stage-0", "react", "react-hmre"],
    },
  }
}
